<!-- views/profile.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="icon" href="public/uploads/avatar-1692572078209-427297268.png" type="image/png" sizes="16x16">

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/profile.css">
    <title>Profile</title>
</head>

<body>
  <header>
    <div class="logo-container">
        <img class="logo" src="https://cdn.discordapp.com/attachments/1142466081064243300/1142811423425175672/removal.ai_7e641675-cceb-4fc4-a6fc-c175263e36f2-png-transparent-letter-c-art-logo-c-letter-letter-c-blue-angle-english_1.png" alt="logo">
        <span class="logo-text">Clux Paste</span>
    </div>
    <nav>
        <ul class="nav-links">
            <% if (!isAuthenticated) { %>
            <li><a href="/">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register">Sign up</a></li>
            <% } else { %>
                <li><a href="/">Home</a></li>
                <% if (typeof isAdmin !== 'undefined' && isAdmin) { %> 
                    
                <li><a href="/admin/dashboard">Panel</a></li>
                <% } %>
                
                <li><a href="/profile"><span class="rank" style="<%= user.customCSS %>"><%= user.username %></span></a></li>
                <li><a href="/logout">Logout</a></li>
            <% } %>
        </ul>
    </nav>
</header>   
<div class="hehe-container">
    <div class="profile-container">
        <div class="avatar">
            <% if (user.avatar && user.avatar.data) { %>
                <img src="data:<%= user.avatar.contentType %>;base64,<%= user.avatar.data.toString('base64') %>" alt="User Avatar">
            <% } else { %>
                <!-- You can put a default or placeholder image here -->
                <img src="https://img.freepik.com/premium-vector/man-avatar-profile-picture-vector-illustration_268834-538.jpg?w=740" alt="Default Avatar">
            <% } %>
</div>

<h1 style="<%= user.customCSS %>"><%= user.username %></h1>
 

    <div class="paste-about">
        <h4 class="paste-info"><i class="fa-solid fa-eye"></i><div><span>E-Mail</span> <span class="about-value"><%= user.email %></span></div></h4>
        <h4 class="paste-info"><i class="fa-solid fa-eye"></i><div><span>Paste Count</span> <span class="about-value"><%= pastesCount %></span></div></h4>
        <h4 class="paste-info"><i class="fa-regular fa-clock"></i> <div><span> Total Views</span> <span class="about-value"><%= viewsCount %></span></div></h4>
        </div>
      

</div>

<div class="buttons-container">
    <form action="/edit-profile">
        <button href="/edit-profile" class="edit-profile">Edit Profile</button>
    </form>
    <form action="/logout">
        <button href="/logout" class="logout">Logout</button>
    </form>
        
    <form action="/my-pastes">
        <button href="/edit-profile" class="<button href="/my-pastes" class="view-pastes-btn">View My Pastes</button>
    </form>
        
        
       

    </div>
  
  

</div>


</div>

    
</body>

</html>
